@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', Arial, sans-serif;
    background-color: whitesmoke;
    overflow-x: hidden;
}

@keyframes anime1 {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

/*Topnv-block*/
.navstick {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
    transition: 0.5s;
}

#topnav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 96px;
    padding: 0 80px;
    transition: 0.5s;
}

#topnav button {
    width: 126px;
    height: 42px;
    background: none;
    border: 1px solid black;
    font-size: 16px;
    cursor: pointer;
}

.anim-1 {animation: anime1 10s linear infinite;}

.topnav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.topnav-left img {margin: 0 px;}

.topnav-center a {
    width: 42px;
    height: 24px;
    text-decoration: none;
    border-bottom: 1px solid black;
    color: black;
    margin: 0 32px;
}
/*Topnav endblock*/

/*Step-1 block*/
.step-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 141px 80px;
}

.step-1-left h3 {
    font-size: 56px;
    font-weight: 400;
}

.step-1-left p {
    font-size: 23px;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin-top: 35px;
}

.step-1-left p > img {padding: 0 16px;}

.step-1-down {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    position: relative;
    left: -10px;
    width: 120%;
    height: 80px;
    transform: rotate(-4deg);
}

.step-1-down p {
    color: white;
    font-size: 18px;
    margin-left: 20px;
}

.step-1-down img {margin-left: 20px;}
/*Step-1 endblock*/

/*Step-2 block*/
.step-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 158px 450px 0 450px;
    letter-spacing: 0.5;
}

.step-2-left h3 {
    font-size: 56px;
    font-weight: 400;
    padding-top: 21px;
}

.step-2-left p {font-size: 23px;}

.step-2-left img {padding: 0 8px;}

.step-2-right h4 {
    font-size: 31px;
    font-weight: 400;
    max-width: 598px;
    line-height: 40px;
}

.step-2-right p {
    margin-top: 36px;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
}

.step-2-right-boxs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 150px;
}

.step-2-right-box p {
    color: #E94D35;
    font-size: 12px;
    font-weight: 400;
    padding-bottom: 9px;

}

.step-2-right-box h4 {
    font-size: 23px;
    font-weight: 400;
}

.step-2-down {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-evenly;
    border: 2px solid black;
    width: 1060px;
    height: 156px;
    margin-top: 120px;
}

.step-2-down-black {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    width: 352px;
    height: 156px;
    
}

.step-2-down-black h1 {
    font-size: 56px;
    font-weight: 400;
    margin-bottom: 11px;
}

.step-2-down-black p {font-size: 20px;}

.step-2-down-white {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.step-2-down-white h1 {
    font-size: 56px;
    font-weight: 400;
    margin-bottom: 11px;
}

.step-2-down-white p {font-size: 20px;}

/*Step-2 endblock*/

/*Step-3 block*/
.step-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
}

.step-3-header {
    text-align: center;
    margin-bottom: 61px;
}

.step-3-header h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: 22px;
}

.step-3-header p {
    font-size: 18px;
    font-weight: 400;
    margin-top: 12px;
}

.step-3-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
    width: 1060px;
    height: 140px;
    padding: 0 55px;
    margin-bottom: 24px;
}

.step-3-box-left {
    display: flex;
    flex-direction: row;
}

.step-3-box-left h4 {
    font-size: 23px;
    font-weight: 400;
    line-height: 32px;
}

.step-3-box-left p {
    font-size: 18px;
    font-weight: 400;
}

.step-3-box-left-cube {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E94D35;
    color: white;
    width: 48px;
    height: 48px;
    font-size: 18px;
    margin-right: 22px;

}

/*Step-3 endblock*/

/*Step-4 block*/
.step-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
}

.step-4-header {
    text-align: center;
    margin-bottom: 61px;
}

.step-4-header h1 {
    font-size: 45px;
    font-weight: 400;
    padding-top: 22px;
}

.step-4-header p {
    font-size: 18px;
    letter-spacing: 1.5px;
    padding-top: 17px;
}

.step-4-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 95px;
}

.step-4-box img {padding-right: 56px;}

.step-4-box-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E94D35;
    color: white;
    width: 181px;
    height: 40px;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-top: 30px;
}

.step-4-box h1 {
    font-size: 45px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 1.5px;
    padding-top: 30px;
    padding-right: 56px;
}

.step-4-box p {
    font-size: 20px;
    font-size: 300;
    padding-top: 49px;
}

/*Step-4 endblock*/

/*Step-5 block*/
.step-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
}

.step-5-header {text-align: center;}

.step-5-header h1 {
    padding-top: 22px;
    font-size: 45px;
    font-weight: 400;
}

.step-5-header p {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.5px;
    padding-top: 18px;
}

.step-5-content {
    display: grid;
    grid-template-columns: repeat(2, 510px);
    grid-template-rows: repeat(2, 196px);
    grid-column-gap: 120px;
    grid-row-gap: 120px;
    margin-top: 60px;
}

.step-5-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid black;
    width: 510px;
    height: 196px;
    padding: 34px;
}

.step-5-box h2 {
    font-size: 31px;
    font-weight: 400;
    letter-spacing: 0.64px;
}

.step-5-box p {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    padding-top: 28px;
}

/*Step-5 endblock*/